@font-face {
    font-family: "PP Editorial New";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "ABC Diatype Mono Condensed";
    src: url("fonts/ABCDiatypeMonoCondensed-Thin-Trial.woff2") format("woff2");
}

@font-face {
    font-family: "ABC Favorit Edu";
    src: url("fonts/ABCFavoritEdu-Bold.woff") format("woff");
}

:root {
    font-size: 100%;

    --font-family: "PP Editorial New";
    --font-family2: "ABC Diatype Mono Condensed";
    --font-family3: "ABC Favorit Edu";

    --light: #FFFFFF;
    --dark: #121212;
    --color: #FF4848;
    --color2:#442FFF;
    --color3: #726D31;

    --lineheight: 100%;
    
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;
}

body {
    font-family: var(--font-family);
    padding: var(--spaceL);
    text-transform: uppercase;
    block-size: 100vh;
}

h1 {
    font-size: var(--textL);
}

h2 {
    font-size: var(--textM);
}

.dials {
    display: flex;
    flex-direction: column;
    gap: var(--spaceM);
    flex: 1;
}

ul li {
    padding-block-start: var(--spaceM);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: underline;
}

/* canvas {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--dark);
    width: 100%;
    height: auto;
} */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#maintext {
    font-size: var(--textL);
}

#secondtext {
    font-size: var(--textM);
}

.style-1 {
    font-family: var(--font-family);
    color: var(--color);
}

.style-2{
    font-family: var(--font-family2);
    color: var(--color2);
}

.style-3{
    font-family: var(--font-family3);
    color: var(--color3);
}

button {
    background-color: var(--dark);
    color: var(--light);
    padding: calc(var(--spaceS)*0.2);
}