@font-face {
    font-family: "PP Editorial New";
    src: url("fonts/PPEditorialNew-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "ABC Diatype Mono Condensed";
    src: url("fonts/ABCDiatypeMonoCondensed-Thin-Trial.woff2") format("woff2");
}

@font-face {
    font-family: "ABC Favorit Edu";
    src: url("fonts/ABCFavoritEdu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Ayer-Regular-Trial";
    src: url("fonts/Ayer-Regular-Trial.otf") format("opentype");
}



:root {
    font-size: 100%;
    
    --font-family1: "PP Editorial New";
    --font-family2: "Ayer-Regular-Trial";
    --font-family3: "ABC Diatype Mono Condensed";
    --font-family4: "ABC Favorit Edu";

    --light: #FFFFFF;
    --dark: #121212;
    --color: #FF4848;
    --color2:#442FFF;
    --color3: #726D31;

    --lineheight: 100%;
    
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;
}

body {
    font-family: var(--font-family1);
    padding: var(--spaceL);
    /* text-transform: uppercase; */
    /* block-size: 100vh; */
}



h1 {
    font-size: var(--textL);
    text-transform: uppercase; 
    padding-block: var(--spaceS);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spaceM);
    flex: 1;
}

ul li {
    padding-block-start: var(--spaceM);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: underline;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style-1 {
    font-family: var(--font-family1);
}

.style-2{
    font-family: var(--font-family2);
}

.style-3{
    font-family: var(--font-family3);
}

.style-4{
    font-family: var(--font-family4);
}

button {
    background-color: var(--dark);
    color: var(--light);
    padding: calc(var(--spaceS)*0.2);
}

section {
    padding-block: calc(var(--spaceS)*0.5);
}

#posterbox {
    display: inline-block;
    position: relative;
}

#posterbox img {
    display: block;
}

#image {
    z-index: -1;
    width: 100%;
}

#maintext {
    position: absolute;
    mix-blend-mode: multiply;
    opacity: 95%;
    z-index: 2;
}

#secondtext {
    position: absolute;
    mix-blend-mode: multiply;
    opacity: 95%;
    z-index: 2;
}

/* need to come back to crop these correctly but the images show on top! */
/* https://claude.ai/share/a4934733-1cee-4a6c-b86a-29e7a849811c I asked for help for different appraoches - it suggested clip-path which I will look into */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path I copied the clip-path polygon from MDN and am trying to do it with trial and error */
/* need to figure out how to: scale down image + add different clip paths for different images */

#preview3 {
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 95%;  
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    /* I did this with A LOT of trial and error - values for me to remember / edit later
    44:left
    24.5: top
    57.5: right
    64: bottom */
    /* clip-path: polygon(44% 24.5%, 57.5% 24.5%, 57.5% 64%, 44% 64%); */
}

#preview3-box {
    position: absolute;
    overflow: hidden;
}

/* my image sizes - come back to do container query units */
.preview3-box-subway {
    top: 24.5%;
    left: 43.9%;
    width: 13.5%;
    height: 39.5%;     
}

.preview3-box-billboard {
    top: 31.5%;
    left: 30.5%;
    width: 44%;
    height: 32%;     
}

.preview3-box-sidewalk {
    top: 23%;
    left: 39.5%;
    width: 23%;
    height: 54.2%;      
}


/* my layout positions and text sizes */

.mainlayout-subway {
    top: 28%; 
    left: 45.5%;
    font-size: var(--textS);
}

.secondlayout-subway {
    top: 40%;
    left: 45.5%;
    font-size: calc(var(--textS)*0.7);
}

.mainlayout-billboard {
    top: 35%; 
    left: 32%;
    font-size: calc(var(--textM)*1.5);
}

.secondlayout-billboard {
    top: 45%;
    left: 55%;
    font-size: calc(var(--textM)*0.7);
}

.mainlayout-sidewalk {
    top: 25%; 
    left: 41%;
    font-size: calc(var(--textM)*0.9);
}

.secondlayout-sidewalk {
    top: 72%;
    left: 41%;
    font-size: calc(var(--textS)*1.2);
}


/* need to come back to this - I can make it responsive but the images are really small on a phone - I think this works better on desktop */

@media (width<950px) {
    .grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    }

}

#image-controls {
    display: none;
}

#text-controls {
    display: none;
}

#text-controls-poster {
    display: none;
}